.Nav_home{
    background-color: #d8b2fd;
    width: 100%;
    height: 10vh;
    margin-top: -2vh;
}
.Nav_home ul { position: absolute; margin-top: 3vh;}
.Nav_home ul li{
    float: left;
    margin-left: 4vh;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #635075;
}

footer{
    background-color: #d8b2fd;
    height: 10vh;
    text-align: center;
    color: #635075;
}
#ListaDados{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.data_value{
    background-color: #635075;
    color: #d8b2fd;
    padding: 2vh;
    width: 10vh;
    height: 3vh;
    margin-left: 3vh;
    margin-top: 2vh;
}
.criacaoConta{
    background: rgb(99,80,117);
    background: linear-gradient(279deg, rgba(99,80,117,1) 0%, rgba(99,80,117,0.7063200280112045) 79%, rgba(99,80,117,0.12648809523809523) 100%);  
    height: 99vh;
    width: 50vh;
    display: flex;
    flex-direction: column;
    -ms-flex-align: center;
    float:inline-end;
}
body{
    overflow-y: hidden;
    display: flex;
    background-image: url("../img/post_thumbnail-801c53f03508c73882d8a372d4df2e17.jpeg");
    background-size: cover;
}
.element_cont{
    width: 100%;
}
.criacaoConta a{
    background-color: #d8b2fd;
    text-align: center;
    width: 70%;
    padding: 2vh;
    border-radius: 0.9vh;
    margin-top: 4vh;
    margin-left: 6vh;
    border: white 0.5vh solid;
    transition: 2s;
    color: white;
    font-size: 2vh;
    font-family: Arial, Helvetica, sans-serif;
}

.criacaoConta a:hover{
    transition: 2s;
    transform: scale(1.3);
}

.logo{
    color: #635075;
    font-size: 10vh;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2vh;    
    margin-left: 2vh;
}
.logo p {
    font-size: 3vh;
}