<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li>Home</li>
            <li>Dados</li>
            <li>Base de dados</li>
            <li>Sobre o projeto</li>
        </ul>
    </nav>

    <div id="Pagina_projeto">

    </div>

    <footer>
        <h2>Projeto criado e mantido por Felipe Katao</h2>
    </footer>
</body>
</html>