<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Analise de dados</title>
</head>
<body>
    <a class="logo">
        DataSc*
        <p>Faça suas analises de dados por aqui</p>
    </a>
    <div class="element_cont">
        <article class="criacaoConta">
            <a>Fazer Login</a>
            <a>Criar conta</a>
        </article>
    </div>
    <script src="../static/main.js"></script>
</body>
</html>